node_modules/
backend/node_modules/
*.env
.env
.env.*
serviceAccountKey.json
backend/serviceAccountKey.json
backend/data/serviceAccountKey.json
android/.gradle/
android/.sdk/
android/.tools/
android/.adb-home/
android/build/
android/app/build/
*.apk
*.log
android/local.properties
android/app/google-services.json
android/capacitor-cordova-android-plugins/
backend/android/
backend/capacitor.config.json
backend/package-lock.json
